@font-face {
    font-family: "Roboto-Regular";
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(/fonts/Roboto-Light.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Roboto-Regular";
}

.contenedor {
    background: repeating-linear-gradient(125deg, rgb(124, 158, 123), rgb(0, 0, 0));
    height: 900px;
    width: 100%;
    padding-top: 50px;
}

h1 {
    text-align: center;
    font-family: "Roboto-light";
}

form {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.445);
    width: 500px;
    height: 600px;

    border-radius: 10px;
}

.box1 {
    margin: auto;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* 
form label,
input {
    margin: 10px;

} */

form input[type="text"],
input[type="datetime-local"] {
    width: 300px;
    height: 30px;
    background: rgba(0, 0, 0, 0.171);
    border: none;
    border-bottom: black 1px solid;
    border-radius: 5px;
    font-family: "Roboto-regular";
    text-align: center;

}

select {
    /* position: relative;
    left: 10px; */
    background-color: rgba(0, 0, 0, 0.171);
    height: 30px;
    width: 200px;
}

select option {
    background-color: rgba(0, 0, 0, 0.144);
    font-family: "Roboto-regular";

}

.rc {
    font-size: 0.9rem;
    margin: 0 auto
}

#btnRegistrar {
    border-radius: 5px;
    height: 25px;
    background-color: coral;
    border: none;
}

#tbRegistro {
    margin: 20px auto;
}

#tbRegistro thead th {
    /* border: 2px solid black; */
    font-size: 0.9rem;
    background-color: rgba(255, 127, 80, 0.685);
}