.visible {
  background-color: darkturquoise;
  width: 300px;
  height: 100px;
  border: 1px dotted firebrick;
  overflow: visible;
}

.oculto {
  background-color: darkturquoise;
  width: 300px;
  height: 100px;
  border: 1px dotted dimgrey;
  overflow: hidden;
}

.barra {
  background-color: darkturquoise;
  width: 300px;
  height: 100px;
  border: 1px dotted dimgrey;
  overflow: scroll;
}

.automatico {
  background-color: darkturquoise;
  width: 300px;
  height: 100px;
  border: 1px dotted dimgrey;
  overflow: auto;
}

.doble {
  background-color: darkturquoise;
  width: 300px;
  height: 100px;
  border: 1px dotted dimgrey;
  overflow-y: hidden;
  overflow-x: scroll;
}
