* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

header nav {
  margin: 40px 0;
  text-align: right;
}

header nav a {
  margin: 0 20px;
  padding-bottom: 9px;
  text-decoration: none;
  border-bottom: 2px solid grey transparent;
  color: white;
}

.principal {
  text-align: center;
}

.principal {
  margin-top: 20px;
}

.principal {
  vertical-align: top;
  border-radius: 20%;
  border: 5px solid grey;
  width: 25%;
  height: 25%;
}

.principal {
  font-weight: 600;
  width: 80%;
  margin: 40px auto 60px auto;
}

.principal .titulo {
  font-size: 35px;
  margin-bottom: 40px;
  font-weight: bolder;
  color: #152046;
}

.principal .trabajos {
  background: #f0f0f0;
  padding: 60px 0;
}

.principal .titulo {
  font-size: 35px;
  margin-bottom: 60px;
  font-weight: bolder;
  color: #431382;
  text-align: center;
}

.principal {
  justify-content: space-between;
}

.principal {
  width: 25%;
  margin-bottom: 40px;
}

.principal {
  vertical-align: top;
  width: 100%;
  border-radius: 5px;
}

.principal {
  text-align: center;
}

.principal {
  font-weight: bolder;
  color: #431382;
  margin-bottom: 10px;
}

.principal {
  font-size: 15px;
  color: dimgray;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  background-color: #5d084c;
}

fieldset {
  text-align: center;
}

header {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 50px;
}

header nav {
  margin-top: auto;
  text-align: right;
}

nav ul {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

nav ul li {
  float: left;
  margin-top: 2px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 18px;
}

.a {
  margin-right: 39em;
}

.b {
  margin-left: 2em;
}

.c {
  margin-left: 1em;
}

.d {
  margin-right: 2em;
}

h1 {
  color: white;
}



.contenedor {
  width: 400px;
  margin: 40px auto;
  background: #fff;
}

.formulario .contenedorinput {
  padding: 10px;
  border-radius: 6px 6px 0 0;
  background: #fff;
}

.formulario input[type="text"],
.formulario input[type="mail"] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-family: 'Slabo 13px', serif;
  font-size: 18px;
}

.formulario input[type="text"]:focus,
.formulario input[type="mail"]:focus {
  border-bottom: 2px solid #246eb9
}

/* .formulario .botondeopciones input[type="radio"]{
  display: none;
} */
.botondeopciones {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.formulario .botondeopciones {
  color: #424242;
  padding: 10px 10px;
  text-align: center;
  font-family: 'Slabo 13px', serif;
  font-size: 18px;
}

.formulario .botondeopciones label {
  margin-left: 10px;
}

.formulario input[type="radio"]:checked+.botondeopciones label {
  background-color: #f9a03f;
  color: #fff;
}

.casilladeverificacion {
  text-align: center;
  color: #424242;
}

.casilladeverificacion label {
  margin-left: 10px;
}

.formulario .error {
  display: none;
  margin-top: 20px;
  border-radius: 3px;
  background: #ce1818;
  color: #fff;
  padding: 15px 10px;
  padding-left: 40px;
}

.boton {
  width: 100%;
  text-align: center;
  background: #246eb9;
  color: #fff;
  border: none;
  display: block;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 0 0 6px 6px;
  font-family: 'Slabo 13px', serif;
  font-size: 18px;
}

.formulario .boton:hover {
  background-color: #4357ad;
}