* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.principal {
  text-align: center;
}

.principal {
  margin-top: 10px;
}

.principal {
  vertical-align: top;
  border-radius: 10%;
  border: 5px solid grey;
  width: 5%;
  height: 5%;
}

.principal {
  font-weight:100;
  width: 50%;
  margin: 10px auto 10px auto;
}

.principal .titulo {
  font-size: 35px;
  margin-bottom: 40px;
  font-weight: bolder;
}

.principal{
  background: #f0f0f0;
  padding: 30px 0;
}

.principal .titulo {
  font-size: 35px;
  margin-bottom: 60px;
  font-weight: bolder;
  color: black;
  text-align: center;
}

.principal {
  justify-content: space-between;
}

.principal {
  width: 25%;
  margin-bottom: 90px;
}

.principal {
  vertical-align: top;
  width: 45%;
  border-radius: 10px;
}

.principal {
  text-align: center;
}

.principal {
  font-weight: bolder;
  color: #431382;
  margin-bottom: 5px;
}

.principal {
  font-size: 15px;
  color: dimgray;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  background-color: #5d084c;
}





.contenedor {
  width: 300px;
  margin: 40px auto;
  background: #fff;
}

.formulario .contenedorinput {
  padding: 10px;
  border-radius: 6px 6px 0 0;
  background: #fff;
}

.formulario input[type="text"],.formulario input[type="mail"] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-family: 'Slabo 13px', serif;
  font-size: 18px;
}

.formulario input[type="text"]:focus, .formulario input[type="mail"]:focus{
  border-bottom: 2px solid #246eb9
}
/* .formulario .botondeopciones input[type="radio"]{
  display: none;
} */
.botondeopciones {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.formulario .botondeopciones {
  color: #424242;
  padding: 10px 10px;
  text-align: center;
  font-family: 'Slabo 13px', serif;
  font-size: 18px;
}

.formulario .botondeopciones label {
  margin-left: 10px;
}

.formulario input[type="radio"]:checked+.botondeopciones label {
  background-color: #f9a03f;
  color: #fff;
}

.casilladeverificacion {
  text-align: center;
  color: #424242;
}

.casilladeverificacion label {
  margin-left: 10px;
}

.formulario .error {
  display: none;
  margin-top: 20px;
  border-radius: 3px;
  background: #ce1818;
  color: #fff;
  padding: 15px 10px;
  padding-left: 40px;
}

.boton {
  width: 100%;
  text-align: center;
  background: #246eb9;
  color: #fff;
  border: none;
  display: block;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 0 0 6px 6px;
  font-family: 'Slabo 13px', serif;
  font-size: 18px;
}

.formulario .boton:hover {
  background-color: #4357ad;
}


/* */ 


@font-face {
    font-family: "MuseoModerno";
    src: url("/fonts/MuseoModerno-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    src: url("/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato-BoldItalic";
    src: url("/fonts/Lato-BoldItalic.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("/fonts/Lato-Regular.ttf");
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: blue;
    position: absolute 0;
    width: 100%;
}

/* ------------------------NAV------------------------------ */

nav {
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.70);
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-content: center;
}

.logo {
  font-family: "MuseoModerno";
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

nav ul {
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin: auto;
  list-style: none
}

nav ul a {
  color: white;
  text-decoration: none;
  font-family: "MuseoModerno";
  font-size: 1rem;
}

nav ul a:hover {
  opacity: 65%;
}

/* -----------------------FOOTER-------------------------------------- */

footer {
  width: 100%;
  height: 22rem;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.a4 {
  width: 60rem;
  height: 18rem;
  margin: 0 auto;
  position: relative;
  top: 2rem;
  display: flex;
  justify-content: space-between;
}

.b5 {
  flex-grow: 0.5;
  line-height: 2rem;
}

.b5 p {
  font-family: "Lato-Bold";
  color: gray;
}

.b5 ul {
  list-style: none;
  line-height: 1.7rem;
}

.b5 ul a {
  text-decoration: none;
  color: white;
  font-family: "Lato-Regular";
}

.b5 ul a:hover {
  opacity: 65%;
}

.icons {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

.icons a {
  color: white;
  font-size: 2.2rem;
}

.icons a:hover {
  color: rgb(199, 137, 137);
}

small {
  font-family: "Quicksand";
  color: white;
  width: 7rem;
  margin: 0 auto;
  position: relative;
  right: -27rem;
}
