@font-face {
    font-family: "MuseoModerno";
    src: url("/fonts/MuseoModerno-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    src: url("/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato-BoldItalic";
    src: url("/fonts/Lato-BoldItalic.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("/fonts/Lato-Regular.ttf");
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.container {
    background-color: blue;
    position: absolute 0;
    width: 100%;
}

/* ------------------------------------------------------ */

nav {
    width: 100%;
    /* height: 4rem; */
    background-color: rgba(0, 0, 0, 0.70);
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo1 {
    font-family: "MuseoModerno";
    font-size: 1.5rem;
    text-decoration: none;
    color: white;

}

nav .normal {
    width: 70%;
    max-width: 60rem;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin: auto;
    list-style: none;
}

nav .normal li a {
    color: white;
    line-height: 4rem;
    text-decoration: none;
    font-family: "MuseoModerno";
    font-size: 1rem;
    padding: auto;
}

nav .normal a:hover {
    opacity: 65%;
}

.desplegable {
    display: none;

}

/* ------------------------------------------------------ */
header {
    width: 100%;
    height: 45rem;
    background: repeating-linear-gradient(180deg, #b90f97, #360b2e);
}

.a1 {
    width: 70%;
    max-width: 60rem;
    margin: 0 auto;
    position: relative;
    top: 10rem;
}

.b1 {
    /* width: 15rem; */
    width: 30%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    /* padding: 0; */
    justify-content: space-between;
    position: relative;
    top: 2rem;
    float: left;
}

.c1 {
    color: white;
    font-family: "Lato-Bold";
    font-size: 1.7rem;
}

.c2 {
    color: white;
    font-family: "Quicksand";
    font-size: 1.2rem;
}

.bt {
    width: 85%;
    border-radius: 2rem;
    text-align: center;
    background-color: rgb(209, 224, 153);
    font-family: "Lato-Bold";
    font-size: 1.2em;
    line-height: 3.5rem;
    color: black;
    text-decoration: none;
}

.bt:hover {
    opacity: 70%;
}

.b2 {
    width: 65%;
    max-width: 37rem;
    height: 25rem;
    position: relative;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.b2 a img {
    width: 12rem;
}

.b2 a img:hover {
    opacity: 65%;
}

/* ------------------------------------------------------ */
.trend {
    width: 100%;
    height: 60rem;
    background: repeating-linear-gradient(180deg, #360b2e, #bfa4ce);
}

.a2 {
    width: 70%;
    max-width: 60rem;
    height: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    position: relative;
    top: 4rem;
    text-align: center;
    font-size: 2rem;
    font-family: "MuseoModerno";
    color: white;
}

.b3 .b4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.box,
.box1 {
    width: 100%rem;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 8rem 0;
}

.c3 {
    width: 23rem;
    height: 10rem;
}

.d1 {
    width: 22rem;
    height: 11rem;
    background-color: #7b6c88;
}

.e1 {
    width: 10rem;
    height: 1rem;
    position: relative;
    top: 1rem;
    left: -0.7rem;
    background-color: #AA5EB2B2;
    z-index: 10;
    font-family: "Quicksand";
    font-size: 0.65rem;
    color: white
}

.e2 {
    width: 13rem;
    height: 2.75rem;
    z-index: 10;
    text-align: left;
    position: relative;
    top: 2rem;
    left: -1rem;
    background-color: #3E2765B4;
    font-family: "MuseoModerno";
    font-size: 1rem;
    color: white;
}

.d1 a {
    position: relative;
    top: -5.5rem;
    left: 1rem;
    font-size: 0.9rem;
    font-family: "Quicksand";
    color: yellowgreen;
    text-decoration: none;
}

.d1 a:hover {
    opacity: 65%;
}

.d1 img {
    width: 10.5rem;
    height: 10.5rem;
    z-index: 5;
    position: relative;
    top: -4.5rem;
    right: -5.5rem;
}

.seemore {
    text-align: center;
    font-size: 1rem;
    font-family: "MuseoModerno";
    text-decoration: none;
    color: black;
}

.seemore:hover {
    opacity: 65%;
}

/* ------------------------------------------------------ */
.merch {
    width: 100%;
    height: 90rem;
    background: repeating-linear-gradient(#bfa4ce, black);
}

.a3 {
    width: 70%;
    max-width: 60rem;
    height: 90rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title2 {
    position: relative;
    top: 4rem;
    text-align: center;
    font-size: 2rem;
    font-family: "MuseoModerno";
    color: black;
}

.c4 {
    width: 23rem;
    height: 11rem;
}

.d2 {
    width: 21rem;
    height: 10.5rem;
    background-color: rgba(0, 0, 0, 0.80);
}

.e3 {
    width: 14rem;
    height: 2.75rem;
    z-index: 10;
    position: relative;
    left: 8.5rem;
    top: 1.5rem;
    background-color: #d2bc4cad;
    font-family: "MuseoModerno";
    font-size: 0.9rem;
    color: black;
    text-align: right;

}

.e4 {
    width: 10rem;
    z-index: 10;
    height: 1rem;
    position: relative;
    top: 2.5rem;
    left: 11.5rem;
    background-color: #3e2765ab;
    font-family: "MuseoModerno";
    font-size: 0.8rem;
    color: white;
    text-align: right;
}

.d2 a {
    position: relative;
    top: -5.5rem;
    right: -5rem;
    font-family: "Quicksand";
    text-decoration: none;
    color: yellowgreen;
    font-size: 0.9rem;
}

.d2 a:hover {
    opacity: 65%;
}

.d2 img {
    width: 10.5rem;
    height: 10.5rem;
    position: relative;
    top: -5rem;
    left: -1rem;
}

.seemore2 {
    position: relative;
    bottom: 7rem;
    font-family: "MuseoModerno";
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
}

.seemore2:hover {
    opacity: 65%;
}

/* ------------------------------------------------------ */
footer {
    width: 100%;
    height: 25rem;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.a4 {
    width: 70%;
    max-width: 60rem;
    height: 22rem;
    margin: 0 auto;
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: space-between;
}

.b5 {
    flex-grow: 0.5;
    line-height: 2rem;
}

.b5 p {
    font-family: "Lato-Bold";
    color: gray;
}

.b5 ul {
    list-style: none;
    line-height: 1.7rem;
}

.b5 ul a {
    text-decoration: none;
    color: white;
    font-family: "Lato-Regular";
}

.b5 ul a:hover {
    opacity: 65%;
}

.icons {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.icons a {
    color: white;
    font-size: 2.2rem;
}

.icons a:hover {
    color: rgb(199, 137, 137);
}

small {
    font-family: "Quicksand";
    color: white;
    width: 7rem;
    margin: 0 auto;
    position: relative;
    right: -27rem;
}


/* >1290PX */

@media (max-width:1290px) {

    nav ul,
    .a4 {
        width: 85%;
    }

    .a1 {
        width: 90%;
    }

    .a2,
    .a3 {
        width: 100%;
    }
}

.desplegable {
    display: none;
}


/* >1020px */

@media(max-width:1020px) {
    .container {
        overflow-x: hidden;
    }

    nav {
        background-color: black;
    }

    nav .navBox {
        margin: auto;
        width: 80%;
    }

    .normal {
        position: absolute;
        left: -99999px;
        width: 50px;
        height: 50px;
        display: none;
    }

    .desplegable {
        margin: 0 auto;
        display: flex;
        /* align-content: center; */
        align-items: center;
        justify-content: space-between;
        list-style-type: none;

    }


    .navBox .desplegable .logo {
        float: left;
        line-height: 4rem;
        font-size: 1rem;
    }


    .desplegable>li {
        float: right;
    }

    .navBox .desplegable .menu ul {
        display: none;
        position: absolute;
    }

    .navBox .desplegable .menu:hover>ul {
        display: block;
        position: relative;
        top: 2rem;
    }

    .navBox .desplegable .menu ul li {
        position: relative;

    }

    a {
        text-decoration: none;
        color: white;
        font-family: "MuseoModerno";

    }

    /* HEADER */

    header {
        height: 60rem;
    }

    .a1 {
        height: auto;
        position: relative;
        top: 4rem;
        display: flex;
        flex-direction: column;

    }


    .b1,
    .b2 {
        width: 90%;
        margin: 3rem auto;
    }

    .c1 {
        font-size: 3rem;
    }

    .c1,
    .c2 {
        text-align: center;
        margin: auto;
        width: 90%;
    }

    .bt {
        width: 70%;
        text-align: center;
        margin: auto;
    }


    /* TREND */

    .trend {
        height: 85rem;
    }

    .a2 {
        position: relative;
        top: 6rem;
    }

    .a2,
    .a3 {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .b3,
    .b4 {
        /* margin-top: 2rem; */
        margin: auto;
        position: relative;
        top: 5rem;
        min-width: 370px;
    }

    .box,
    .box1 {
        /* width: 70%; */
        /* margin: 3 auto; */
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .c3,
    .c4 {
        margin: 3rem auto;
    }

    .seemore,
    .seemore2 {
        position: relative;
        top: 6rem;
    }

    /* MERCH */

    .merch {
        height: 125rem;
    }


    /* FOOTER */
    .footer {
        height: 23rem;
    }

    .a4 {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    small {
        align-content: center;
    }
}


/* >730px */