@font-face {
    font-family: "MuseoModerno";
    src: url("/fonts/MuseoModerno-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    src: url("/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato-BoldItalic";
    src: url("/fonts/Lato-BoldItalic.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("/fonts/Lato-Regular.ttf");
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: blue;
    position: absolute 0;
    width: 100%;
}

/* ------------------------NAV------------------------------ */

nav {
    width: 100%;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.70);
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-content: center;
}

.logo {
    font-family: "MuseoModerno";
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

nav ul {
    width: 60rem;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin: auto;
    list-style: none
}

nav ul a {
    color: white;
    text-decoration: none;
    font-family: "MuseoModerno";
    font-size: 1rem;
}

nav ul a:hover {
    opacity: 65%;
}

/* -----------------------FOOTER-------------------------------------- */

footer {
    width: 100%;
    height: 22rem;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.a4 {
    width: 60rem;
    height: 18rem;
    margin: 0 auto;
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: space-between;
}

.b5 {
    flex-grow: 0.5;
    line-height: 2rem;
}

.b5 p {
    font-family: "Lato-Bold";
    color: gray;
}

.b5 ul {
    list-style: none;
    line-height: 1.7rem;
}

.b5 ul a {
    text-decoration: none;
    color: white;
    font-family: "Lato-Regular";
}

.b5 ul a:hover {
    opacity: 65%;
}

.icons {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.icons a {
    color: white;
    font-size: 2.2rem;
}

.icons a:hover {
    color: rgb(199, 137, 137);
}

small {
    font-family: "Quicksand";
    color: white;
    width: 7rem;
    margin: 0 auto;
    position: relative;
    right: -27rem;
}


.ejemploBORRAR {
    height: 500px;
}